section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: $page-width;
    padding: 7em 20vw 10em 20vw;

    a {
        width: 25%;
        text-decoration: none;
        color: $color-grey;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5vw;
        margin: 0;

        &:hover div svg,
        &:active div svg {
            width: 80%;
            padding: 10%;
        }

        div {
            border: 2px solid $color-grey;
            border-radius: 2rem;

            svg {
                transition: all 0.3s ease;
                width: 70%;
                padding: 15%;
            }
        }

        h2 {
            margin-top: .2em;
            animation: selection_text 1s ease alternate infinite;
        }
    }
}

/* NOTEBOOK */
@media only screen and (max-width: 1280px) {
    // section {
    //     a {
    //         font-size: 2rem;
    //     }
    // }
}
/* NOTEBOOK */

@media only screen and (max-width: 1100px) {
    section {
        min-height: auto;
        padding: 7em 10% 10em 10%;
    }
}

@media only screen and (max-width: 600px) {
    section {
        flex-direction: column;
        padding-top: 5rem;
        min-height: auto;

        a {
            width: 80%;
            margin: 2rem;
            font-size: 8vw;
        }
    }
}