// PAGE SPACING
$page-width: 1500px;
$page-padding: 0 10%;

// COLORS
$color-primary: #FF949B;
$color-primary-light: #ffb9be;
$color-black: #1D1D1D;
$color-grey: #3D3D3D;
$color-grey-light: #9E9E9E;