@import 'global';       // global (variables, animations...)

header {
    main {
        margin-top: 80px;
        padding-bottom: 120px;

        h1 {
            color: $color-grey;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 1280px) {
    header {
        h1 {
            &:nth-child(1) {
                font-size: 3.3em;
            }

            &:nth-child(2) {
                font-size: 3em;
            }
        }

        main {
            p {
                font-size: 2rem;
                margin-top: 0px;
    
                a {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    header {
        main {
            p {
                font-size: 2rem;
                margin-top: 0px;
    
                a {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    header {
        main {
            h1 {
                &:nth-child(1) {
                    font-weight: 100;
                    font-family: AmaticSC;
                    font-size: 2.8em;
                    letter-spacing: .1em;
                }
            }

            p {
                font-size: 1.5rem;
                margin-top: 0px;
    
                a {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 319px) {
    header {
        main {
            p {
                margin-top: 0px;
            }
        }
    }
}